*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 25px;
    font-family: Arial;
    color: white;
}

  header{
    background-image: linear-gradient(to left, 
    #2b0138,
    #61027e, 
    #2b0138);
    height: 80px;

  }



li{
  margin: 1%;
  border-radius: 25px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;
}
li:hover {
  background-position: 100% 10%;
  background-image: linear-gradient(to left, 
   #61027e,
   #2b0138, 
   #010002);
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}a:focus {
  outline: none;
}

li{
  text-decoration: none;
}

a{
  text-decoration: none;
}


ul {

  display: flex;
  justify-content:space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;

}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #61027e;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-links.active li {
  margin-right: 0;
  margin-bottom: 1rem;
}



/* Media query para exibir o menu mobile em telas menores */
@media (max-width: 768px) {

  
  li{
    margin-top: 5%;
  }

}